.advantages {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 5px;
}

.advantages__container {
  .container-mobile();
}

.advantages__title {
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  color: @main-color-title;
  text-align: left;
  padding-bottom: 45px;
  margin: -10px 0 0 0;
}

.advantages__text {
  margin: 0;
}

.advantages__list {
  position: relative;
  .set-list(0, 0, none);
  padding-left: 80px;
}

.advantages__item {
  margin-bottom: 20px;

  &--useful {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
  }

  &--fastfood {
    padding-top: 5px;
  }

  &--eat {
    padding-top: 8px;
  }

  &--time {
    padding-top: 8px;
  }
}

.advantages__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: @color-link;
  background-image: url(../img/advantage-leaf@1x.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-resolution: 1.5 dppx) {
  .advantages__item::before {
    background-image: url(../img/advantage-leaf@2x.png);
  }
}

.advantages__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: @color-link;
  background-image: url(../img/advantage-powder@1x.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-resolution: 1.5 dppx) {
  .advantages__item::before {
    background-image: url(../img/advantage-powder@2x.png);
  }
}

.advantages__item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 160px;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: @color-link;
  background-image: url(../img/advantage-dining@1x.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-resolution: 1.5 dppx) {
  .advantages__item::before {
    background-image: url(../img/advantage-dining@2x.png);
  }
}

.advantages__item:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 240px;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: @color-link;
  background-image: url(../img/advantage-clock@1x.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-resolution: 1.5 dppx) {
  .advantages__item::before {
    background-image: url(../img/advantage-clock@2x.png);
  }
}

@media (min-width: 768px) {
  .advantages {
    width: 768px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 100px;
    border-bottom: 1px solid @border-input;
  }

  .advantages__container {
    .container-tablet();
  }

  .advantages__title {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    padding-bottom: 15px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    padding-left: 0;
    margin-top: 165px;
  }

  .advantages__item {
    position: relative;
    width: 354px;
    padding-right: 90px;
    margin-bottom: 240px;
    box-sizing: border-box;

    &--fastfood {
      padding-top: 0;
    }

    &--eat {
      padding-top: 8px;
      margin-bottom: 0;
    }

    &--time {
      padding-top: 8px;
      margin-bottom: 0;
    }
  }

  .advantages__item::before {
    content: "";
    position: absolute;
    top: -110px;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: @color-link;
  }

  .advantages__item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: -110px;
    left: 30px;
    width: 80px;
    height: 80px;
    background-color: @color-link;
  }

  .advantages__item:nth-child(3)::before {
    content: "";
    position: absolute;
    top: -105px;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: @color-link;
  }

  .advantages__item:nth-child(4)::before {
    content: "";
    position: absolute;
    top: -105px;
    left: 30px;
    width: 80px;
    height: 80px;
    background-color: @color-link;
  }

  .advantages__item:nth-child(even) {
    padding-right: 60px;
    padding-left: 30px;
  }

  .advantages__text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1300px) {
  .advantages {
    width: 1300px;
    margin: 0 auto;
    padding-top: 85px;
    padding-bottom: 25px;
    border-bottom: none;
  }

  .advantages__container {
    .container-desktop();
    width: 1220px;
    margin: 0 auto;
  }

  .advantages__title {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    padding: 0 0 23px 5px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    padding-left: 0;
    margin: 0 auto;
    margin-left: 12px;
    margin-top: 48px;
  }

  .advantages__item {
    position: relative;
    width: 245px;
    padding-right: 130px;
    margin-bottom: 20px;
    margin-left: -7px;
    padding-top: 2px;
    box-sizing: border-box;

    &--fastfood {
      padding-top: 7px;
    }

    &--eat {
      padding-top: 7px;
    }

    &--time {
      padding-top: 7px;
    }
  }

  .advantages__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: @color-link;
    background-image: url(../img/advantage-leaf@1x.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .advantages__item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 80px;
    height: 80px;
    background-color: @color-link;
    background-image: url(../img/advantage-powder@1x.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .advantages__item:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    width: 80px;
    height: 80px;
    background-color: @color-link;
    background-image: url(../img/advantage-dining@1x.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .advantages__item:nth-child(4)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    width: 80px;
    height: 80px;
    background-color: @color-link;
    background-image: url(../img/advantage-clock@1x.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .advantages__item:nth-child(1)::after {
    content: "1";
    position: absolute;
    top: 94px;
    left: 120px;
    z-index: -1;
    width: 80px;
    height: 80px;
    color: @background-sample;
    font-size: 281px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  }

  .advantages__item:nth-child(2)::after {
    content: "2";
    position: absolute;
    top: 94px;
    left: 115px;
    z-index: -1;
    width: 80px;
    height: 80px;
    color: @background-sample;
    font-size: 281px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  }

  .advantages__item:nth-child(3)::after {
    content: "3";
    position: absolute;
    top: 94px;
    left: 120px;
    z-index: -1;
    width: 80px;
    height: 80px;
    color: @background-sample;
    font-size: 281px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  }

  .advantages__item:nth-child(4)::after {
    content: "4";
    position: absolute;
    top: 94px;
    left: 120px;
    z-index: -1;
    width: 80px;
    height: 80px;
    color: @background-sample;
    font-size: 281px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  }

  .advantages__item:nth-child(even) {
    padding-right: 60px;
    padding-left: 0;
  }

  .advantages__text {
    margin: 0;
    padding-top: 110px;
    font-size: 16px;
    line-height: 24px;
    width: 245px;
  }

  .advantages__text--second {
    padding-top: 105px;
  }

  .advantages__text--three {
    padding-top: 105px;
  }

  .advantages__text--four {
    padding-top: 105px;
  }
}
