.map {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: @background-sample;

  &::after {
    content: "";
    position: absolute;
    top: 255px;
    left: 128px;
    width: 62px;
    height: 53px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: 62px 53px;
  }
}

.map__dilers--form {
  padding-top: 3px;
}

.map--bg-color {
  background-color: @white-color;
}

.map__container {
  padding: 15px 20px 15px 20px;
}

.map__cooperation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.map__dilers {
  font-size: 16px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  line-height: 20px;
  color: @main-color-title;
  text-transform: uppercase;
  margin: 0;
  padding-top: 5px;
}

.map__address {
  line-height: 20px;
  margin: 0;
  padding: 4px 0 0 22px;
}

.map img {
  width: 320px;
  height: 400px;
  margin: 0 auto;
  display: none;
}

iframe {
  position: relative;
  border: none;
  width: 320px;
  height: 360px;
}

@media (min-width: 768px) {
  .map {
    position: relative;
    width: 768px;
    margin: 0 auto;
    padding-top: 0;
    background-color: @white-color;

    &::after {
      content: "";
      position: absolute;
      top: 347px;
      left: 320px;
      width: 106px;
      height: 124px;
      background-image: url("../img/map-pin.png");
      background-repeat: no-repeat;
      background-size: 124px auto;
    }
  }

  .map__container {
    .container-tablet();
  }

  .map__cooperation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    min-height: 200px;
  }

  .map__dilers {
    font-size: 20px;
    line-height: 26px;
    padding: 0 300px 0 40px;
    margin-top: 5px;
  }

  .map__address {
    font-size: 18px;
    line-height: 26px;
    margin-top: -30px;
    margin: -30px 40px 0 0;
    padding: 25px 0 0 0;
    text-align: right;
  }

  .map img {
    width: 768px;
    height: 395px;
    margin: 0 auto;
    display: none;
  }

  iframe {
    border: none;
    width: 768px;
    height: 395px;
  }

  .map__container--background {
    background-color: @background-sample;
  }
}

@media (min-width: 1300px) {
  .map {
    width: auto;
    margin: 0 auto;
    padding-top: 0;
    background-color: @background-sample;

    &::after {
      content: "";
      position: absolute;
      top: 148px;
      left: 1043px;
      background-image: url("../img/map-pin.png");
      background-repeat: no-repeat;
      background-size: 123px auto;
    }
  }

  .map__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1220px;
    margin: 0 auto;
  }

  .map__cooperation {
    position: absolute;
    top: 95px;
    left: 37px;
    z-index: 3;
    width: 570px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    background-color: @white-color;
  }

  .map__dilers {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
    padding: 0 180px 0 75px;
  }

  .map__address {
    font-size: 16px;
    line-height: 30px;
    margin-top: 0;
    margin-left: -95px;
    padding: 0;
    padding-right: 60px;
    text-align: left;
  }

  .map img {
    width: auto;
    height: 395px;
    margin: 0 auto;
    display: none;
  }

  iframe {
    border: none;
    width: 100%;
    height: 399px;
  }
}
