.map {
  width: 320px;
  margin: 0 auto;
  padding-top: 25px;
}

.map__container {
  padding: 0 20px;
}

.map__cooperation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.map__dilers {
  font-size: 16px;
  font-family: 'Oswald-Regular', Arial, Verdana, sans-serif;
  line-height: 20px;
  color: @main-color-title;
  text-transform: uppercase;
}

.map__address {
  padding-top: 5px;
}
