.page-header {
  width: auto;
  min-height: 65px;
  background-color: @background-white;
  border-bottom: 1px solid @border-bottom-header;
}

.page-header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .container-mobile();
  padding-bottom: 0;
  padding-top: 0;
}

.page-header__logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 65px;
}

.page-header__button {
  background-color: transparent;
  border: none;
}

.logo {
  width: 191px;
  height: 38px;
}

.page-header__link-mobile {
  display: block;
  width: 191px;
  height: 38px;
  margin-left: -20px;
}

.page-header__link-desktop {
  display: none;
}

.page-header__link-tablet {
  display: none;
}

@media (min-width: 768px) {
  .page-header {
    width: auto;
    min-height: 100px;
  }

  .page-header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px 0 30px;
  }

  .page-header__link-mobile {
    display: block;
  }

  .page-header__link-tablet {
    display: block;
    width: 173px;
    height: 0;
  }

  .page-header__link-desktop {
    display: none;
  }

  .page-header__logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 65px;
  }

  .page-header__button {
    display: none;
    background-color: transparent;
    border: none;
  }
}

@media (min-width: 1300px) {
  .page-header {
    position: relative;
    z-index: 1;
    width: 1300px;
    margin: 0 auto;
    min-height: 120px;
    background-color: transparent;
    border-bottom: none;
  }

  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
    padding: 0;
  }

  .page-header__logo-link {
    display: block;
    margin: -4px 0 0 5px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .page-main .page-header__logo-link {
    display: block;
    margin-right: 700px;
    color: black;
  }

  .page-header__link-mobile {
    display: block;
  }

  .page-header__link-tablet {
    display: block;
  }

  .page-header__link-desktop {
    display: block;
    width: 402px;
    height: 59px;
  }
}
