.page-header {
  width: auto;
  min-height: 65px;
  background-color: @background-white;
  border-bottom: 1px solid @border-bottom-header;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
