.promo {
  position: relative;
  width: auto;
  margin: 0 auto;
  min-height: 305px;
  background-color: @background-promo;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.promo__main-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  color: @white-color;
  text-align: center;
  padding-top: 25px;
  margin: 0;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  color: @white-color;
  text-align: center;
  text-transform: uppercase;
  padding-top: 13px;
}

.promo__image {
  position: absolute;
  top: 170px;
  left: 0;
}

.promo__link-option {
  position: absolute;
  top: 440px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  font-size: 16px;
  margin: 0 auto;
  min-height: 40px;
  color: @white-color;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @color-link;
}

@media(min-width: 768px) {
  .promo {
    position: relative;
    width: auto;
    margin: 0 auto;
    min-height: 650px;
    background-color: @white-color;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 240px;
  }

  .promo__container {
    padding: 0 30px;
  }

  .promo__intro-wrapper {
    width: 427px;
    margin-left: 90px;
  }

  .promo__main-title {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    padding: 40px 0 8px 0;
    margin: 0;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    text-transform: uppercase;
    padding-top: 13px;
  }

  .promo__image {
    position: absolute;
    top: 270px;
    left: 120px;
    z-index: 0;
  }

  .promo__link-option {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 52px;
    color: @white-color;
    font-size: 20px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background-color: @color-link;
    margin-top: 48px;
  }
}

@media(min-width: 1300px) {
  .promo {
    min-height: 520px;
    background-color: @white-color;
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 765px top;
    margin-top: -120px;
    padding-top: 182px;
  }

  .promo__container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .promo__intro-wrapper {
    width: 420px;
    margin-top: 0;
    margin-left: 137px;
  }

  .promo__main-title {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    padding: 40px 0 7px 0;
    margin: 0;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    text-transform: uppercase;
    padding-top: 15px;
  }

  .promo__link-option {
    position: static;
    
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 52px;
    color: @white-color;
    font-size: 20px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background-color: @color-link;
    margin: 53px 0 0 0;
  }
}
