.sample {
  width: 100%;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 40px;
  background-color: @background-sample;
}

.sample__container {
  padding: 0 20px;
}

.sample__title {
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  font-family: 'Oswald-Regular', Arial, Verdana, sans-serif;
  color: @main-color-title;
  text-align: left;
  padding-bottom: 15px;
}

.sample__text {
  padding-right: 10px;
}

.sample__cost {
  font-size: 14px;
  font-family: 'Oswald-Regular', Arial, Verdana, sans-serif;
  line-height: 20px;
  color: @main-color-title;
  text-transform: uppercase;
  text-align: center;
}

.sample__defference {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 40px;
}

.sample__was {
  font-size: 16px;
  font-family: 'Oswald-Regular', Arial, Verdana, sans-serif;
  line-height: 20px;
  color: @main-color-title;
  text-transform: uppercase;
}

.sample__become {
  font-size: 16px;
  font-family: 'Oswald-Regular', Arial, Verdana, sans-serif;
  line-height: 20px;
  color: @main-color-title;
  text-transform: uppercase;
}
