.sample {
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: @background-sample;
}

.sample__container {
  .container-mobile();
}

.sample__title {
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  color: @main-color-title;
  text-align: left;
  padding-bottom: 15px;
  margin: 0;
}

.sample__text {
  padding: 5px 10px 0 0;
}

.sample__cost {
  font-size: 14px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  line-height: 20px;
  color: @main-color-title;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0 20px 0;
}

.sample__defference {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 28px 0 0 42px;
}

.sample__was {
  font-size: 16px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  line-height: 20px;
  color: @main-color-title;
  text-transform: uppercase;
}

.sample__become {
  font-size: 16px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  line-height: 20px;
  color: @main-color-title;
  text-transform: uppercase;
}

.sample__block-time {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.sample__weight,
.sample__time {
  position: relative;
  width: 123px;
  height: 54px;
  border: 1px solid @border-color;
  border-radius: 3px;
}

.sample__text-span {
  position: absolute;
  top: -30px;
  left: 30px;
  font-size: 24px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  line-height: 24px;
  color: @main-color-title;
  text-transform: uppercase;
  text-align: center;
  display: block;

  &--position {
    position: absolute;
    top: -30px;
    left: 5px;
  }
}

.sample__text-weight,
.sample__text-time {
  position: absolute;
  bottom: -15px;
  left: 15px;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  margin: 0;
  background-color: @background-sample;
  width: 95px;
}

.sample__image {
  max-width: 320px;
  height: 240px;
  margin-left: -20px;
}

.sample__image--after {
  display: none;
}

.sample__text-weight {
  position: absolute;
  bottom: 15px;
  left: 13px;
  font-size: 24px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  line-height: 24px;
  color: @main-color-title;
  text-transform: uppercase;
  text-align: center;
}

.sample__text-weight-second {
  position: absolute;
  bottom: -30px;
  left: 20px;
  font-size: 12px;
  line-height: 14px;
  width: 80px;
  text-align: center;
  background-color: @background-sample;
}

.sample__text-time {
  position: absolute;
  bottom: 16px;
  left: 15px;
  font-size: 24px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  line-height: 24px;
  color: @main-color-title;
  text-transform: uppercase;
  text-align: center;
}

.sample__text-time-second {
  position: absolute;
  bottom: -30px;
  left: 25px;
  font-size: 12px;
  line-height: 14px;
  width: 80px;
  text-align: center;
  background-color: @background-sample;
}

.sample__range-controls {
  position: relative;
  width: 84px;
  height: 12px;
  border: 1px solid @border-color;
  border-radius: 5px;
  background-color: @white-color;
  margin-top: 4px;
}

.sample__scale {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 35px;
  height: 6px;
  background-color: @color-link;
  border-radius: 6px;
}

.sample__range-toggle {
  position: static;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

@media (min-width: 768px) {
  .sample {
    position: relative;
    width: auto;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 0;
    background-color: @white-color;
  }

  .sample::before {
    content: "";
    position: absolute;
    top: 620px;
    left: 0;
    width: 100%;
    height: 462px;
    background-color: @background-sample;
  }

  .sample__container {
    position: relative;
    .container-tablet();
  }

  .sample__title {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    padding-bottom: 45px;
    margin: 0;
  }

  .sample__text {
    font-size: 16px;
    line-height: 24px;
    padding: 0 10px 0 0;
  }

  .sample__block-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 368px;
    margin-top: 55px;
  }

  .sample__weight,
  .sample__time {
    position: relative;
    width: 160px;
    height: 70px;
    border: 1px solid @border-color;
    border-radius: 3px;
  }

  .sample__text-weight,
  .sample__text-time {
    position: absolute;
    bottom: -15px;
    left: 35px;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    margin: 0;
    background-color: @white-color;
    width: 95px;
  }

  .sample__cost {
    position: absolute;
    top: 180px;
    right: 30px;
    font-size: 20px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    line-height: 24px;
    color: @main-color-title;
    text-transform: uppercase;
    text-align: right;
    padding: 58px 0 10px 0;
    width: 230px;
  }

  .sample__price {
    padding-left: 55px;
  }

  .sample__text-span {
    position: absolute;
    top: -30px;
    left: 30px;
    font-size: 24px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    line-height: 24px;
    color: @main-color-title;
    text-transform: uppercase;
    text-align: center;
    display: block;

    &--position {
      position: absolute;
      top: -30px;
      left: 5px;
    }
  }

  .sample__text-weight {
    position: absolute;
    bottom: 25px;
    left: 32px;
    font-size: 30px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    line-height: 24px;
    color: @main-color-title;
    text-transform: uppercase;
    text-align: center;
  }

  .sample__text-weight-second {
    position: absolute;
    bottom: -21px;
    left: 30px;
    font-size: 14px;
    width: 100px;
    background-color: @white-color;
  }

  .sample__text-time {
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 110px;
    font-size: 30px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    line-height: 24px;
    color: @main-color-title;
    text-transform: uppercase;
    text-align: center;
  }

  .sample__text-time-second {
    position: absolute;
    bottom: -20px;
    left: 13px;
    font-size: 14px;
    width: 140px;
    background-color: @white-color;
  }

  .sample__cat {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    margin-top: 255px;
    height: 300px;
    min-height: 460px;
  }

  .sample__image {
    position: absolute;
    top: -170px;
    left: 40px;
    z-index: 2;
    min-width: 677px;
    height: 515px;
  }

  .sample__cat-before {
    position: relative;
    z-index: 3;
    width: 384px;
    height: 460px;
    background-color: @background-item-programs;
  }

  .sample__cat--before {
    position: absolute;
    z-index: 2;
  }

  .sample__cat-after--hidden {
    display: none;
  }

  .sample__defference {
    position: absolute;
    bottom: 77px;
    left: 58px;
    z-index: 3;
    margin-top: 50px;
    width: 570px;
    height: 16px;
  }

  .sample__range-controls {
    position: relative;
    width: 428px;
    height: 16px;
    background-color: transparent;
    border: transparent;
  }

  .sample__scale {
    position: absolute;
    width: 428px;
    height: 6px;
    background-color: @range-left;
  }

  .sample__was,
  .sample__become {
    font-size: 20px;
    line-height: 20px;
  }

  .sample__range-toggle {
    position: absolute;
    z-index: 1;
    top: -12px;
    left: 192px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: @white-color;
    border: 1px solid @border-radio-button;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  }

  .sample__bar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 205px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: @color-link;
  }
}

@media (min-width: 1300px) {
  .sample {
    position: relative;
    width: auto;
    margin: 0 auto;
    padding-top: 78px;
    padding-bottom: 0;
    background-color: @white-color;
  }

  .sample::before {
    content: "";
    position: absolute;
    top: 217px;
    left: 0;
    width: 100%;
    height: 461px;
    background-color: @background-sample;
  }

  .sample__container {
    width: 1220px;
    margin: 0 auto;
  }

  .sample__content-wrapper {
    width: 1220px;
    margin: 0 auto;
    padding-bottom: 80px;
    background-color: @background-sample;
  }

  .sample__title {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    padding: 3px 0 60px 5px;
    margin: 0;
  }

  .sample__block-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 366px;
    margin-top: 65px;
    margin-left: 6px;
  }

  .sample__text {
    font-size: 16px;
    line-height: 24px;
    width: 435px;
    padding-top: 73px;
    padding-left: 6px;
  }

  .sample__weight,
  .sample__time {
    position: relative;
    width: 162px;
    height: 72px;
    border: 1px solid @border-color;
    border-radius: 3px;
  }

  .sample__text-weight,
  .sample__text-time {
    position: absolute;
    bottom: 27px;
    left: 35px;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    margin: 0;
    background-color: @background-sample;
    width: 120px;
  }

  .sample__text-weight {
    position: absolute;
    bottom: 27px;
    left: 20px;
    font-size: 30px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    line-height: 24px;
    color: @main-color-title;
    text-transform: uppercase;
    text-align: center;
  }

  .sample__text-weight-second {
    position: absolute;
    bottom: -21px;
    left: 30px;
    background-color: @background-sample;
  }

  .sample__text-time {
    position: absolute;
    bottom: 27px;
    left: 20px;
    font-size: 30px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    line-height: 24px;
    color: @main-color-title;
    text-transform: uppercase;
    text-align: center;
  }

  .sample__text-time-second {
    position: absolute;
    bottom: -21px;
    left: 13px;
    background-color: @background-sample;
  }

  .sample__cost {
    position: static;
    font-size: 20px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    line-height: 20px;
    color: @main-color-title;
    text-transform: uppercase;
    text-align: center;
    padding: 38px 0 10px 5px;
    width: 325px;
  }

  .sample__cat-before {
    position: static;
    z-index: 3;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  .sample__image {
    position: absolute;
    top: 140px;
    left: -700px;
    min-width: 677px;
    height: 515px;
  }

  .sample__cat {
    position: absolute;
    top: -190px;
    right: -50px;
    margin-top: 0;
  }

  .sample__defference {
    position: static;
    margin: -50px -5px 0 auto;
    width: 570px;
    height: 16px;
  }

  .sample__was,
  .sample__become {
    font-size: 20px;
    line-height: 20px;
  }

  .sample__range-controls {
    position: relative;
    width: 428px;
    height: 16px;
    background-color: transparent;
    border: transparent;
  }

  .sample__scale {
    position: absolute;
    top: 4px;
    left: 2px;
    width: 427px;
    height: 6px;
    background-color: @range-left;
    border-radius: 6px;
    cursor: pointer;
  }

  .sample__range-toggle {
    position: absolute;
    z-index: 1;
    top: -12px;
    left: 200px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: @white-color;
    border: 1px solid @border-radio-button;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);

    &:hover {
      background-color: @white-color;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid rgb(104, 183, 56);
    }
  }

  .sample__bar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 212px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: @color-link;
  }
}
