.selection-contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  color: @main-color-title;
  text-align: left;
  margin: 28px 0 33px 0;
}

.selection-contacts__wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 22px;
}

.selection-contacts__label {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  color: @label-color-title;
  text-align: left;
  text-transform: uppercase;
  margin-right: auto;
}

.selection-contacts__input {
  font-size: 16px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  width: 219px;
  height: 45px;
  color: @main-font-color;
  border: 1px solid @border-input;
  text-transform: uppercase;
  padding-left: 15px;
  box-sizing: border-box;

  &--middle {
    width: 204px;
    height: 45px;
  }
}

@media (min-width: 768px) {
  .selection-contacts {
    width: 630px;
    margin: 0 auto;
    margin-top: 75px;
  }

  .selection-contacts__title {
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    margin: 28px 0 75px 0;
  }

  .selection-contacts__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .selection-contacts__label {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @label-color-title;
    text-align: left;
    text-transform: uppercase;
    margin-right: auto;
  }

  .selection-contacts__input {
    font-size: 20px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    width: 219px;
    height: 45px;
    color: @main-font-color;
    border: 1px solid @border-input;
    text-transform: uppercase;
    padding-left: 15px;
    box-sizing: border-box;

    &--large {
      width: 550px;
      height: 52px;
    }

    &--middle {
      width: 535px;
      height: 52px;
    }
  }
}

@media (min-width: 1300px) {
  .selection-contacts {
    width: 1220px;
    margin: 0 auto;
    margin-top: 0;
    margin-left: 10px;
  }

  .selection-contacts__title {
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    margin: 28px 0 75px 0;
  }

  .selection-contacts__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .selection-contacts__flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .selection-contacts__label {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @label-color-title;
    text-align: left;
    text-transform: uppercase;
    margin-right: auto;
  }

  .selection-contacts__input {
    font-size: 20px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    width: 219px;
    height: 45px;
    color: @main-font-color;
    border: 1px solid @border-input;
    text-transform: uppercase;
    padding-left: 15px;
    box-sizing: border-box;

    &--large {
      width: 486px;
      height: 52px;
      margin-left: 20px;
    }

    &--middle {
      width: 472px;
      height: 52px;
      margin-left: 17px;
    }
  }
}
