.selection-programs {
  width: 320px;
  margin: 0 auto;
}

.selection-programs__container {
  width: 280px;
  padding: 0 20px 20px 20px;
}

.selection-programs__title {
  font-size: 36px;
  font-weight: 300;
  line-height: 60px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  color: @main-color-title;
  text-align: left;
  padding-top: 15px;
  margin: 0;
}

.selection-programs__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  color: @main-color-title;
  text-align: left;
  text-transform: uppercase;
  padding: 25px 50px 0 0;
  margin: 0;
}

.selection-form {
  width: auto;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .selection-programs {
    width: 768px;
    margin: 0 auto;
    padding: 25px 0 0 0;
  }

  .selection-programs__container {
    width: 708px;
    padding: 0 30px;
  }

  .selection-programs__title {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    padding-top: 15px;
    margin: 0;
  }

  .selection-programs__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    text-transform: uppercase;
    padding: 55px 50px 0 40px;
    margin: 0;
    width: 330px;
  }

  .selection-form {
    width: auto;
    margin-top: 65px;
  }
}

@media (min-width: 1300px) {
  .selection-programs {
    width: 1300px;
    margin: 0 auto;
    padding: 25px 0 10px 0;
  }

  .selection-programs__container {
    width: 1220px;
    .container-desktop();
  }

  .selection-programs__title {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    padding-top: 45px;
    padding-left: 10px;
    margin: 0;
  }

  .selection-programs__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
    color: @main-color-title;
    text-align: left;
    text-transform: uppercase;
    padding: 55px 50px 0 10px;
    margin: 0;
    width: 330px;
  }

  .selection-form {
    width: auto;
    margin-top: 65px;
  }
}
