.selection-contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  color: @main-color-title;
  text-align: left;
  margin: 28px 0 33px 0;
}

.selection-contacts__wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.selection-contacts__label {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  color: @label-color-title;
  text-align: left;
  text-transform: uppercase;
  margin-right: auto;
}

.selection-contacts__input {
  font-size: 16px;
  font-family: "Oswald-Regular", "Arial", "Verdana", sans-serif;
  width: 219px;
  height: 45px;
  color: @main-font-color;
  border: 1px solid @border-input;
  text-transform: uppercase;
  margin-bottom: 14px;
  padding-left: 15px;
  box-sizing: border-box;

  &--sizes {
    width: 204px;
    height: 45px;
  }
}
