.set-list(@margin; @padding; @list-style) {
  margin: @margin;
  padding: @padding;
  list-style: @list-style;
}

.global-indents(@margin; @padding) {
  margin: @margin;
  padding: @padding;
}

.caption2() {
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.container-mobile() {
  padding: 0 15px;
}

.container-tablet() {

}

.container-desktop() {

}
