.set-list(@margin; @padding; @list-style) {
  margin: @margin;
  padding: @padding;
  list-style: @list-style;
}

.global-indents(@margin; @padding) {
  margin: @margin;
  padding: @padding;
}

.container-mobile() {
  padding: 0 15px;
}
