@background-white: #ffffff;
@main-font-color: #444444;
@color-link: #68b738;
@color-link-hover: #5eaa2f;
@color-link-active: #8fc46e;
@background-promo: #63a73a;
@white-color: #ffffff;
@background-item-programs: #f2f2f2;
@main-color-title: #111111;
@label-color-title: #222222;
@background-sample: #f2f2f2;
@border-bottom-text: #d9d9d9;
@border-color: #cdcdcd;
@border-bottom-header: #eeeeee;
@border-bottom-item: #ededed;
@show-hover: #ebebeb;
@show-color-text: #b9b9b9;
@name-product-additional: #222222;
@social-color: #666666;
@border-input: #e6e6e6;
@border-radio-button: #cecece;
@border-checkbox-button: #cfcfcf;
@range-left: #dcdcdc;
@radio-hover: #bcbcbc;
@invalid-color: #ff8282;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
